<app-card [cardInfo]="formCard.value"></app-card>

<div class="main">
  <div class="card">
    <img src="../assets/bg-main-mobile.png" alt="">
  </div>
  <form *ngIf="!submit" [formGroup]="formCard" (ngSubmit)="onSubmit()" novalidate autocomplete="off" class="form">
    <div class="row">
      <label for="">CARDHOLDER NAME</label>
      <input name="cardName" id="cardName" formControlName="cardName" type="text" placeholder="e.g. Jane Appleseed">
      <div *ngIf="formCard.get('cardName')?.hasError('required') && formCard.get('cardName')?.touched" class="error-message">Este campo es
        obligatorio.</div>
      <div *ngIf="formCard.get('cardName')?.hasError('pattern') && formCard.get('cardName')?.touched" class="error-message">Ingresa solo
        texto.
      </div>
    </div>
    <div class="row">
      <label for="">CARD NUMBER</label>
      <input name="cardNumber" id="cardNumber" formControlName="cardNumber" type="text"
        placeholder="e.g. 1234 5678 9123 0000" required maxlength="19" (input)="onInputChange()">
      <div *ngIf="formCard.get('cardNumber')?.hasError('required') && formCard.get('cardNumber')?.touched" class="error-message">Este campo
        es
        obligatorio.</div>
      <div *ngIf="formCard.get('cardNumber')?.hasError('pattern') && formCard.get('cardNumber')?.touched" class="error-message">Ingresa solo
        Numeros.
      </div>
    </div>
    <div class="row-group">
      <div class="row">
        <label for="">EXP. DATE (MM/YY)</label>
        <div class="input">
          <input name="cardMM" id="cardMM" formControlName="cardMM" type="number" placeholder="MM" type="text" required
            maxlength="2">
          <input name="cardYY" id="cardYY" formControlName="cardYY" type="number" placeholder="YY" type="text" required
            maxlength="2">
        </div>
        <div *ngIf="formCard.get('cardMM')?.hasError('required') && formCard.get('cardMM')?.touched" class="error-message">El campo MM
          es
          obligatorio.</div>
        <div *ngIf="formCard.get('cardMM')?.hasError('pattern') && formCard.get('cardMM')?.touched" class="error-message">Ingresa solo
          Numeros DEL 1 - 12 En el campo MM.
        </div>
        <div *ngIf="formCard.get('cardYY')?.hasError('required') && formCard.get('cardYY')?.touched" class="error-message">El campo YY
          es
          obligatorio.</div>
        <div *ngIf="formCard.get('cardYY')?.hasError('pattern') && formCard.get('cardYY')?.touched" class="error-message">Ingresa solo
          Numeros del 10 al 23 para el YY.
        </div>
      </div>
      <div class="row">
        <label for="">CVC</label>
        <input name="cardCVC" id="cardCVC" formControlName="cardCVC" type="number" placeholder="CVC" type="text"
          required maxlength="3">
        <div *ngIf="formCard.get('cardCVC')?.hasError('required') && formCard.get('cardCVC')?.touched" class="error-message">Este campo
          es
          obligatorio.</div>
        <div *ngIf="formCard.get('cardCVC')?.hasError('pattern') && formCard.get('cardCVC')?.touched" class="error-message">Ingresa Solo
          Numeros.
        </div>
      </div>

    </div>
    <div class="row">
      <button>Confirm</button>
    </div>
  </form>

  <div *ngIf="submit" class="sub-main">
    <img class="complete-ico" src="../assets/icon-complete.svg" alt="complete icon">
    <h2>Thank you!</h2>
    <p>We've added your card details</p>
    <button *ngIf="submit" (click)="buttonContinue()" type="submit">Continue</button>
  </div>

</div>